html {
  font-size: 16px;
}

header {
  background-color: rgb(81, 12, 146);
  height: 10%;
}

.image-header {
  padding: 5%;
}

nav {
  background-color: rgb(81, 12, 146);
}

.article {
  text-align: justify;
}

.description {
  width: 400px;
}

footer {
  background-color: rgb(81, 12, 146);
  height: 100px;
}

.pied-de-page {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.adress {
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
